*{
    font-family: Nunito,sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    background-image: url(https://nghiane.online/products/mini-music-player/static/media/background.88a01a598299eead5e6c.png) ;
    min-height: 100vh;
    max-height: 100vh;
    background-size: cover;
    justify-content: center;
    padding: 40px 0;
    animation-name: backgroundAnimation;
    animation-duration: 60s;
    animation-timing-function:linear;
    animation-direction: alternate;
    animation-iteration-count:infinite;

    .mp3-header{
        margin: auto;
        height: 300px;
        width: 500px;
        background-color: hsla(0, 0%, 85%, 0.7);
        border-radius: 5px;
        padding: 25px;

        .control-header {
            display: flex;
            justify-content: space-between;

            .song-intro {
                display: flex;
                width: 100px;

                .header-thumb {
                    width: 100%;
                    padding-top:100% ;
                    margin: auto;

                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 10px;
                    flex-shrink: 0 ;
                }
                .name {
                    font-size: 20px;
                    font-weight: 700;
                    flex-shrink: 0 ;

                    margin-left: 15px;
                    margin-top: 5px;
                }
            }

            .options {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .options-icon {
                    opacity: 0.5;
                    width: 25px;
                    cursor: pointer;

                    &:hover {
                        opacity: 1;
                        transition-duration: 0.5s;
                    }
                }
                .active {
                    opacity: 1;
                }
                .random {
                    margin-top: 3px;
                }
            }
        }

        .control-duration {
            margin-top: 30px;
            
            .control-audio-bar {
                font-size: 18px;

                .current-time {
                    opacity: 0.8;
                    margin-left: 3px;
                }
                .audio-duration {
                    opacity: 0.8;
                    margin-left: 350px;
                }
            }

            .even-btn {
                display: flex;
                justify-content: space-around;
                margin: 6px 0 30px 0;

                .even-icon {
                    font-size: 25px;
                    cursor: pointer;
                }
            }
        }

        .control-volum {
            width: 100%;
            display: flex;
            align-items: center;

            #volume-bar {
                margin-right: 16px;
                margin-left: 16px;
            }
            .control-volum-icon {
                font-size: 15px;
            }
        }
    }

    .mp3-list {
        margin: auto;
        margin-top:10px;
        height: 400px;
        width: 500px;
        background-color: hsla(0, 0%, 85%, 0.7);
        border-radius: 5px;
        padding: 15px;

        .title {
            font-family: 'Edu NSW ACT Foundation', cursive;
            font-size: 18px;
        }
        .song-list {
            margin: 5px 0;
            height: 93%;
            overflow-y: scroll;
            scroll-behavior: smooth;
            &::-webkit-scrollbar {
                width: 0;
            }
            
            .active {
                background-color: hsla(0, 0%, 100%, 0.8) !important;
            }

            .song {
                margin-top: 10px;
                padding: 5px 7px;
                background-color: hsla(0, 0%, 100%, 0.4);
                border-radius: 3px;
                display: flex;
                align-items: center;

                &:hover {
                    background-color: hsla(0, 0%, 100%, 0.8);
                    cursor: pointer;
                    animation-name: songListAnimation;
                    animation-duration: 0.5s;
                }
                
                .song-thumb {
                    border-radius: 50%;
                    width: 60px;
                    padding-top: 60px;
                    background-size: cover;
                    background-position: center;
                }
                .in4 {
                    margin-left: 18px;
    
                    .song-name {
                        font-size: 18px;
                    }
                    .song-singer {
                        font-size: 14px;
                        font-family: 'Bona Nova', serif;
                    }
                }
            }
        }
    }
}
