* {
  font-family: Nunito, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  background-image: url(https://nghiane.online/products/mini-music-player/static/media/background.88a01a598299eead5e6c.png);
  min-height: 100vh;
  max-height: 100vh;
  background-size: cover;
  justify-content: center;
  padding-top: 20px;
  animation-name: backgroundAnimation;
  animation-duration: 60s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.main .mp3-header {
  margin: auto;
  height: 180px;
  width: 300px;
  background-color: hsla(0, 0%, 85%, 0.7);
  border-radius: 5px;
  padding: 15px;
}
.main .mp3-header .control-header {
  display: flex;
  justify-content: space-between;
}
.main .mp3-header .control-header .song-intro {
  display: flex;
  width: 60px;
}
.main .mp3-header .control-header .song-intro .header-thumb {
  width: 100%;
  padding-top: 100%;
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  flex-shrink: 0;
}
.main .mp3-header .control-header .song-intro .name {
  font-size: 10px;
  font-weight: 700;
  flex-shrink: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.main .mp3-header .control-header .options {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .mp3-header .control-header .options .options-icon {
  opacity: 0.5;
  width: 15px;
  cursor: pointer;
}
.main .mp3-header .control-header .options .options-icon:hover {
  opacity: 1;
  transition-duration: 0.5s;
}
.main .mp3-header .control-header .options .active {
  opacity: 1;
}
.main .mp3-header .control-header .options .random {
  margin-top: 3px;
}
.main .mp3-header .control-duration {
  margin-top: 20px;
}
.main .mp3-header .control-duration .control-audio-bar {
  font-size: 11px;
}
.main .mp3-header .control-duration .control-audio-bar .current-time {
  opacity: 0.8;
  margin-left: 3px;
}
.main .mp3-header .control-duration .control-audio-bar .audio-duration {
  opacity: 0.8;
  margin-left: 205px;
}
.main .mp3-header .control-duration .even-btn {
  display: flex;
  justify-content: space-around;
  margin: 6px 0 10px 0;
}
.main .mp3-header .control-duration .even-btn .even-icon {
  font-size: 15px;
  cursor: pointer;
}
.main .mp3-header .control-volum {
  width: 100%;
  display: flex;
  align-items: center;
}
.main .mp3-header .control-volum #volume-bar {
  margin-right: 16px;
  margin-left: 16px;
}
.main .mp3-header .control-volum .control-volum-icon {
  font-size: 12px;
}
.main .mp3-list {
  margin: auto;
  margin-top: 10px;
  height: 250px;
  width: 300px;
  background-color: hsla(0, 0%, 85%, 0.7);
  border-radius: 5px;
  padding: 15px;
}
.main .mp3-list .title {
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 12px;
}
.main .mp3-list .song-list {
  margin: 5px 0;
  height: 93%;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.main .mp3-list .song-list::-webkit-scrollbar {
  width: 0;
}
.main .mp3-list .song-list .active {
  background-color: hsla(0, 0%, 100%, 0.8) !important;
}
.main .mp3-list .song-list .song {
  margin-top: 10px;
  padding: 5px 7px;
  background-color: hsla(0, 0%, 100%, 0.4);
  border-radius: 3px;
  display: flex;
  align-items: center;
}
.main .mp3-list .song-list .song:hover {
  background-color: hsla(0, 0%, 100%, 0.8);
  cursor: pointer;
  animation-name: songListAnimation;
  animation-duration: 0.5s;
}
.main .mp3-list .song-list .song .song-thumb {
  border-radius: 50%;
  width: 30px;
  padding-top: 30px;
  background-size: cover;
  background-position: center;
}
.main .mp3-list .song-list .song .in4 {
  margin-left: 10px;
}
.main .mp3-list .song-list .song .in4 .song-name {
  font-size: 11px;
}
.main .mp3-list .song-list .song .in4 .song-singer {
  font-size: 9.5px;
  font-family: "Bona Nova", serif;
}